*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background-image: linear-gradient(rgba(101, 54, 13, 0.62), rgba(101, 54, 13, 0.62)),
  url("pictureneed/living-room-scandinavian-interior-design.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  color:#333;
}

header{
  position:relative;
  background:#fff;
  padding:40px 20px;
  text-align:center;
  border-bottom:1px solid #ddd;
}

header h1{
  font-family:'Playfair Display', serif;
  font-size:2.3rem;
  color:#65360d;
}

header p{
  color:#65360d;
  margin-top:10px;
}

.home-icon{
  margin-left: 2%;
  position:absolute;
  left:25px;
  top:50%;
  transform:translateY(-50%);
  font-size:1.8rem;
  color:#65360d;
  cursor:pointer;
  transition:0.3s ease;
}

.home-icon:hover{
  color:#f9940A;
}

.logout-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: 2px solid #ddd;
  color: #65360d;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background: #f5f3f1;
  color: #f9940A;
}

.view-order {
  position: absolute;
  right: 110px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: 2px solid #ddd;
  color: #65360d;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
  transition: 0.3s ease;
  text-decoration: none !important;
}

.view-order:hover {
  background: #f5f3f1;
  color: #f9940A;
}


.container{
  width:90%;
  max-width:900px;
  margin:40px auto;
}

.card{
  background:#fff;
  padding:25px;
  border-radius:12px;
  box-shadow:0 3px 12px rgba(0,0,0,0.08);
}

form.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px 18px;
}

label{
  display:block;
  color:#3d342e;
  font-size:0.9rem;
  margin-bottom:6px;
}

input, select, textarea{
  width:100%;
  padding:10px;
  border:1px solid #d7d0cb;
  border-radius:8px;
  font-size:0.95rem;
}

textarea{
  min-height:80px;
  resize:vertical;
}

.full{ grid-column:1 / -1; }

.actions{
  display:flex;
  gap:10px;
  justify-content:flex-end;
}

.btn{
  padding: 8px 12px;
  border: 2px solid #ddd;
  border-radius:10px;
  cursor:pointer;
  font-weight:600;
}

.btn.save{
  background:#65360d;
  color:white;
}

.btn.save:hover{
  background:#f9940A;
}

.btn.secondary{
  background:#fff;
  border:1px solid #d7d0cb;
}

.btn.secondary:hover{
  background:#f5f3f1;
}

footer{
  text-align:center;
  padding:20px;
  background:#65360d;
  color:white;
  margin-top:50px;
}

@media(max-width:640px){
  form.grid{
    grid-template-columns:1fr;
  }
}

.return-to {
  font-weight: bold;
}