/* CATEGORY SECTION */
.category {
    margin-top: 2%;
    text-align: center; 
    padding: 2vh 0;     
    font-family: 'Mooli', sans-serif;
}

.category h2 {
    font-size: 1.7rem;
    color: #65360d;
    margin: 0 auto;
}

#all-products-link.active {
    color: #f9940A !important;
    font-weight: bold;
    transform: scale(1.05);
}


.ellipse .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 0;
    justify-items: center;
    padding: 20px;
}

.ellipse .items a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.ellipse .items img {
  width: min(25vw, 135px);
  aspect-ratio: 1 / 1; 
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px #d48642;
  transition: transform 0.3s ease;
}

.ellipse img:hover {
  transform: scale(1.05);
}

.ellipse p {
  margin-top: 0.6rem;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  color: #65360d;
  font-family: 'Mooli', sans-serif;
  font-weight: 500;
}

/*subcategory*/
.subcategory-bar {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 10px;
}

.subcat-btn {
    color: white;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
    text-decoration: none;
}

.subcat-btn:hover {
    color: #f9c06a;
    transform: scale(1.05);
}