/* GENERAL SETUP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image:
  linear-gradient(rgba(101, 54, 13, 0.62), rgba(101, 54, 13, 0.62)),
  url("pictureneed/living-room-scandinavian-interior-design.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
  line-height: 1.6;
}

/* HEADER */
header {
  position: relative;
  background-color: #fff;
  padding: 40px 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  color: #65360d;
}

header p {
  font-size: 1rem;
  color: #65360d;
  margin-top: 10px;
}

.home-icon {
  margin-left: 2%;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.8rem;
  color: #65360d;
  cursor: pointer;
  transition: 0.3s ease;
}

.home-icon:hover {
  color: #f9940A;
}

/* CONTAINER */
.container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
}

/* SUMMARY CARDS */
.summary-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 25px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.summary-card h2 {
  font-size: 1.4rem;
  color: #65360d;
  margin-bottom: 15px;
}

/* PRODUCT BOX */
.product-box {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.product-box img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}

.product-info h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.product-info .price {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #65360d;
  font-weight: bold;
}

/* DIVIDER */
.line {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 15px 0;
}

/* PRICE SUMMARY */
.price-summary p,
.price-summary h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #222;
}

.price-summary h3 {
  font-size: 1.3rem;
  color: #65360d;
  margin-top: 8px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #fff;
  background-color: #65360d;
  margin-top: 50px;
  box-shadow: inset 5px 5px 10px rgba(0,0,0,0.5);
}
