{% extends "main/admin/layout.html" %}

{% block content %}
<main class="customer-page">
    <h6>Customers</h6>

    <div class="customer">
        {% for customer in customers %}
            <div class="customer-list">
                <strong>Name: {{ customer.user_name }}</strong>
                <p>Email: {{ customer.user_email }}</p>
                <!-- <p>Address: {{ customer.user_adress }}</p> -->

            </div>
        {% empty %}
            <p>No customers found.</p>
        {% endfor %}
    </div>
</main>
{% endblock %}
