{% extends "main/admin/layout.html" %}
{% load humanize %}
{% block content %}
<main class="customer-page">
    <h6>Customers</h6>

    <div class="customer-container">
        {% for customer in customers %}
        <div class="customer-row">
            
            <!-- Customer Info -->
            <div class="customer-info">
                <strong>Name: {{ customer.user_name }}</strong>
                <p>Email: {{ customer.user_email }}</p>
                <p>Address: {{ customer.user_address }}, {{ customer.user_city }}, {{ customer.user_province }}, {{ customer.user_zip }} ({{ customer.user_notes }})</p>
            </div>

            <!-- Customer Orders -->
            <div class="customer-transactions">
                {% if customer.orders.all %}
                    {% if customer.orders.all.count > 0 %}
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in customer.orders.all %}
                            <tr>
                                <td>{{ order.product_id.item_name }}</td>
                                <td>{{ order.order_quantity }}</td>
                                <td>₱{{ order.order_price|intcomma }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p>No transactions found.</p>
                    {% endif %}
                {% endif %}
            </div>

        </div>
        {% empty %}
        <p>No customers found.</p>
        {% endfor %}
    </div>

</main>
{% endblock %}
