{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/user/try.css' %}">
    <title>Browsing History | Struktura</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'main/css/user/recent.css' %}">
</head>
<header>
    <a href="{% url 'home_user' %}" class="home-link">
      <i class="fa-solid fa-house home-icon"></i>
    </a>
    <h1>Browsing History</h1>
    <p>Your most recent thirty (30) products are stored here.</p>
  </header>
<body>
    <div id="ItemsWrapperBrowse" class="ItemsWrapperBrowse">
        {% for products in recent %}
        <div class="Item_containerBrowse" id="recently-viewed-list">
            <div class="image-container-browse">
                <img src="{{ products.item_image.url }}" alt="{{ products.item_name }}" class="product-img-browse">
            </div>
            <div class="product-info-browse">
                <h3 class="product-name-browse">{{ products.item_name }}</h3>
                <p class="product-price-browse">₱{{ products.item_price|intcomma }}</p>
            </div>
        </div>
        {% empty %}
        <p class="no-items">No recently viewed items.</p>
        {% endfor %}
    </div>

<footer>
    <section class="container2">
        <div class="copyright">
            <p>© 2025 Struktura Furniture Shop. All rights reserved.</p>
        </div>
    </section>
</footer>
</body>
</html>